.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom css */

/* Home Page Style */
.brand-logo {
    width: 25px;
    height: 25px;
}

.custom-bg {
    background-color: #0E0A2A;
}

.custom-card {
    margin: 10px;
}

.custom-card:hover {
    background-color: orange !important;
    box-shadow: 2px 2px 10px orangered;
    margin-top: 5px !important;
    transition: 0.4s;
}

.home-banner {
    height: 250px;
    background-image: url('./assets/banner.jpg');
}
/* End Home Page Style */

/* LeagueDetails Page Style */
/* banner */
.custom-banner {
  position: relative;
  height: 350px;
  overflow: hidden;
}

.banner, .logo {
  display: block;
}

.banner {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.logo {
  width: 35% !important;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  padding: 100px 0;
}

/* card */
.conditional-image {
    width: 100%;
}

.custom-icon {
    width: 50px;
    height: 50px;
}
/* End LeagueDetails Page Style */